@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Poppins;
}

form input::placeholder {
    font-size: 14px;
}

form input {
    border: none;
    border-radius: 2px;
    padding: 6px;
    outline: none !important;
}

form i {
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    color: white;
    padding: 6px;
    position: absolute;
    top: 1px;
    right: 13px;
}

main .carousel img  {
    height: 550px;
}

.home {
    font-size: 24px;
    margin-left: 1.7rem;
}

.container .row img {
    height: 70px;
    width: 70px;
}

.nav-links {
    padding-right: 4rem;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    font-weight: 100;
    background-color: #F52674;
}

.carousel-dark .carousel-control-next-icon, .carousel-dark .carousel-control-prev-icon {
    filter: none !important;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.400);
}

.carousel-indicators {
    margin: 0 10px 0px 0px !important;
    position: initial !important;
    width: fit-content !important;
}

.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: white !important;
}

.wrapper-all-img img {
    height: 250px;
    width: 400px;
}

.wrapper-all-img {
    margin-right: 6rem;
}

#carouselExampleDark {
    width: 70%;
}