@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: Lexend !important;
}

form input::placeholder {
    font-size: 14px;
}

form input {
    border: none;
    border-radius: 2px;
    padding: 6px;
    outline: none !important;
}

form i {
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    color: white;
    padding: 6px;
    right: 13px;
}

main .carousel img  {
    height: 560px;
}

.home {
    font-size: 24px;
    margin-left: 1.7rem;
}

.container .row img {
    height: 70px;
    width: 70px;
}

.bg-rose {
    background-color: #F52674;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    font-weight: 100;
}

.carousel-dark .carousel-control-next-icon, .carousel-dark .carousel-control-prev-icon {
    filter: none !important;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.400);
}

.carousel-indicators {
    margin: 0 10px 0px 0px !important;
    position: initial !important;
    width: fit-content !important;
}

.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: white !important;
}

.wrapper-all-img {
    width: 30%;
}

.wrapper-all-img img {
    height: 240px;
    width: 375px;
}

#carouselExampleDark {
    width: 70%;
}

.all-carrelages {
    height: 40px;
}